.pagecontent {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: scroll;
}
.page {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #000000;
  max-width: 65ch;
  padding: 2rem;

  /*fonts*/
  h1 {
    margin-bottom: 20px;
  }
  h1,
  h2 {
    margin-top: 20px;
  }
  p {
    margin-top: 10px;
  }
  header {
    position: relative;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 30px;

    svg {
      max-height: 70px;
    }
  }
  header .logo {
    width: 150px;
  }
  header .logo img {
    width: 100%;
  }
  .pagecontent {
    width: 95%;
    margin: 0 auto;
    max-width: 800px;
  }
  h1 {
    font-size: 22px;
    letter-spacing: -1px;
  }
  h2 {
    font-size: 16px;
    letter-spacing: 0px;
  }
  p {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 1.4;
  }
  @media only screen and (min-width: 768px) {
    header {
      margin-bottom: 40px;
    }
    header .logo {
      width: 200px;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: 12px;
    }
  }
}
