@use "../../styles/mixin.scss";

.container {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;

  .fiatLogo {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    top: 51.5vh;
    left: 50%;
    width: 58vw;
    transform: translate(-50%, -50%);

    @media (max-height: 667px) {
      justify-content: flex-end;
      padding: 1rem 0;
      gap: 1.5rem;
    }
    @include mixin.desktop {
      top: 17.41vh;
      transform: translate(-50%, 0);
      // svg {
      width: 31.7vw;
      // }
    }
  }

  button {
    pointer-events: all;
    margin-right: 2.7vw;
  }

  .background {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: -7vw;
    z-index: -1;
    width: 100vw;
    height: 100%;

    .backgroundImage {
      background-image: url("/images/FHSkyBackground.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
    }

    svg {
      position: relative !important;
      height: fit-content !important;
    }

    svg:nth-child(1),
    svg:nth-child(2) {
      width: 70dvw !important;
      right: -7vw !important;
      left: unset !important;
    }

    svg:nth-child(3),
    svg:nth-child(4) {
      display: none;
    }
    @include mixin.desktop {
      svg:nth-child(1),
      svg:nth-child(2) {
        display: none;
      }
      svg:nth-child(3),
      svg:nth-child(4) {
        padding-right: 1rem;
        display: block !important;
      }

      svg:nth-child(3) {
        padding-top: 1rem;
        width: 54dvw !important;
      }
      svg:nth-child(4) {
        width: 38.5dvw !important;
      }
    }
  }

  .sidebar {
    width: 10.6vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--yellow);

    .sidebarGradient {
      position: absolute;
      width: 100%;
      background: linear-gradient(30deg, rgb(255, 255, 255) -20%, #f6eb1c 100%);
      height: 100vh;
      z-index: -1;
    }

    svg {
      object-position: right top;
      position: relative !important;
      height: fit-content !important;
    }

    svg:nth-child(1),
    svg:nth-child(2) {
      width: 20dvw !important;
      margin-left: -99%;
    }

    svg:nth-child(3),
    svg:nth-child(4) {
      display: none;
    }
    @include mixin.desktop {
      width: 27.66vw;
      svg:nth-child(1),
      svg:nth-child(2) {
        display: none;
      }
      svg:nth-child(3),
      svg:nth-child(4) {
        display: block !important;
        margin-left: -10px;
        width: 27dvw !important;
      }

      svg:nth-child(3) {
        padding-top: 1rem;
        padding-left: 1rem;
      }
    }
  }

  .leftImage {
    position: absolute;
    top: 0;
    left: -7.5svh;
    width: 29.5svh;
    min-width: 200px;
    height: -webkit-fit-content;
    height: fit-content;

    img:nth-child(1) {
      aspect-ratio: 2000/1813;
      object-fit: contain;
      object-position: left top;
      position: relative !important;
      height: fit-content !important;
    }
    @media screen and (min-width: 820px) {
      left: calc(100vw - 103%);
    }

    @include mixin.desktop {
      top: 0;
      left: 0;
      width: 27.66vw;
      height: 100vh;
      min-height: 600px;

      img:nth-child(1) {
        display: none;
      }

      img:nth-child(2) {
        aspect-ratio: 2000/1813;
        overflow-y: visible;
        display: block !important;
        object-fit: cover;
        object-position: center bottom;
        height: 83vh !important;
        width: calc(27.66vw + 25%) !important;
        top: unset !important;
        left: -25% !important;
        @media screen and (max-height: 800px) {
          max-height: calc(643px + 10vh);
        }
      }
    }
  }

  .rightImage {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 24svh;
    min-width: 150px;
    height: 100vh;
    aspect-ratio: 1500/2368;

    img {
      aspect-ratio: 1500/2368;
      object-fit: contain;
      object-position: right bottom;
    }

    @include mixin.desktop {
      top: 0;
      right: 0;
      width: auto !important;
      min-height: 600px;

      img {
        top: 4% !important;
        height: 96% !important;
        object-position: top;
        object-fit: cover;
      }
    }
  }
}
